.item {
  background-color: #ffffff;
  width: 320px;
  height: 60px;
  margin: 10px 20px;
  padding: 0 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.item img {
  width: 20px;
  padding: 0 10px;
}

.delete-icon {
  margin: auto;
}

.text-task {
  font-size: 1rem;
  margin: auto;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.uncheck-icon {
  width: 22px;
  height: 22px;
  background: url("../img/uncheck.png") no-repeat center center;
  background-size: cover;
  margin-right: 8px;
}

.uncheck-icon ~ .text-task {
  text-decoration: none;
  color: black;
}

.check-icon {
  background: url("../img/check.png") no-repeat center center;
  background-size: cover;
  border-radius: 5px;
}

.check-icon ~ .text-task {
  text-decoration: line-through;
  color: gray;
  transition: all 0.3s ease-in-out;
}

.delete-button {
  width: 20px;
  height: 20px;
  background: url("../img/delete.png") no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.container-button-delete {
  display: flex;
}

@media (max-width: 480px) {
  .item {
    width: 55vw;
    height: 8vh;
    margin: 15px 20px;
  }

  .text-task {
    font-size: 0.9rem;
  }

  .uncheck-icon {
    margin-right: 20px;
    width: 15px;
    height: 15px;
  }

  .check-icon{
    width: 15px;
    height: 15px;
  }

  .delete-button{
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .item{
    width: 30vw;
  }
}