.input-container {
  position: relative;
  width: 280px;
  margin: auto;
}

.input-search {
  border-style: none;
  border-radius: 20px;
  height: 35px;
  font-size: 0.9rem;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  caret-color: #02aa80;
  color: #cf5d00;
}

.input-search::placeholder {
  font-size: 0.8rem;
}

.input-search:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../img/search-icon.png") no-repeat center center;
  background-size: contain;
  pointer-events: none;
}

@media (max-width: 480px) {
  .input-search {
    height: 50px;
    font-size: 1.3rem;
    background-color: #DADADA
  }

  .input-search::placeholder {
    font-size: 1.2rem;
  }

  .search-icon {
    width: 30px;
    height: 30px;
  }
}
